[Desktop Entry]
Categories=Application;
Comment=sparkassistant
Comment[zh_CN]=星火小助手
Exec=/usr/bin/sparkassistant %F
GenericName=sparkassistant
GenericName[zh_CN]=星火小助手
Icon=spark-store
Name=sparkassistant
Name[zh_CN]=星火小助手
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
X-Deepin-ManualID=sparkassistant
X-Deepin-Vendor=user-custom
