Package: sparkassistant-dbgsym
Source: sparkassistant
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: momen  <momen@deepinos.org>
Installed-Size: 1565
Depends: sparkassistant (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for sparkassistant
Build-Ids: 4265455ceddb1c351032f318d2e63752244bb1d4
