Package: sparkassistant-dbgsym
Source: sparkassistant
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: momen  <momen@deepinos.org>
Installed-Size: 2121
Depends: sparkassistant (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for sparkassistant
Build-Ids: 7a5250b80c73a5c0f30cfdbe0009a3c649237a61
